@charset 'utf-8';
@import './common/_reset.scss';
@import './common/common.scss';

.page {
  max-width: 128rem;
  margin: $auto;
  padding: 0;
  overflow: hidden;
  main {
    min-width: $width;
    background: url(../assets/images/list/bg.png) no-repeat 0 -11rem #ebecec;
    position: relative;
    padding-bottom: 11rem;

    // 侧边导航菜单
    .left_nav {
      width: 22.3rem;
      background: #f3f2f2;
      padding-top: 2.7rem;
      position: absolute;
      top: 5.9rem;
      left: 14.9rem;

      // 菜单项
      .dropdown {
        font-size: 0;
        line-height: 4.2rem;
        padding-left: 1.8rem;

        &.current {
          background: #58636d;

          a.btn {
            color: $white;
          }
        }

        i {
          vertical-align: middle;
          margin-right: .8rem;
        }

        a {
          color: #7c7979;
          font-size: 1.4rem;
          text-align: left;
          box-shadow: none;
          padding: 0;

          &:after {
            display: none;
          }

          .en {
            margin-left: .7rem;
          }
        }

        .dropdown-menu {
          width: 90%;
          padding: 1.8rem;

          a {
            border-bottom: 1px solid #7c7979;
          }
        }
      }

      // 座机号
      .telN {
        color: #828181;
        padding-left: 3.9rem;
        padding-bottom: 1.4rem;

        i {
          font-size: 1.4rem;
          margin-right: .5rem;
        }

        p {
          font-size: 1.2rem;
          line-height: 1.35em;

          &:last-child {
            padding-left: 1.9rem;
          }
        }
      }
    }

    // 业内新闻
    .lis_wrap {
      padding-top: 9.3rem;
      padding-left: 41.7rem;

      h2 {
        display: flex;
        justify-content: space-between;
        width: 62.5rem;
        color: $white;
        border-bottom: .2rem solid $white;
        font-size: 2.6rem;
        padding-bottom: .4rem;
        margin-bottom: 4.6rem;
        transform: translateX(2rem);

        .vani {
          @include vani;
          text-transform: uppercase;
        }
      }

      .inductry_n_t {
        width: 68.1rem;
        background: $white;
        padding: 1.7rem 1.7rem 3rem 1.4rem;

        // #3f4142

        // 业内新闻 、 更新时间
        .page_nav {
          display: flex;
          justify-content: space-between;
          width: 60.2rem;
          color: #3f4142;
          border-bottom: .1rem solid #3f4142;

          ul {
            li {
              float: left;

              a {
                color: #3f4142;
              }
            }
          }

          // time 
          .time_w {
            font-size: 1.2rem;
            padding-bottom: .4rem;
          }
        }

        // 新闻项
        .card {
          width: 100%;
          border: 0 none;

          .card-body {
            padding: 3.2rem 0 0;
            text-align: center;

            // title 
            h5 {
              font-size: 1.6rem;
              color: #3f4142;
            }

            // picture 
            .card-img-top {
              width: 100%;
              height: 21rem;
              box-shadow: 0 0 .5rem #aaa;
              margin-top: 1.7rem;
            }

            // description 
            .card-text {
              font-size: 1.2rem;
              color: #5f5b5b;
              text-align: left;
              margin-top: 1.3rem;
            }
          }
        }

        // 分页按钮
        nav {
          margin-top: 3.5rem;
          .pagination {
            .page-item {
              &:not(:last-of-type) {
                margin-right: .5rem;
              }
              a {
                border: 1px solid #d6d6d6;
                color: #000;
                font-size: 1rem;
                padding: .5rem .4rem;
              }
            }
          }
        }
      }
    }
    // 耳机
    figure {
      position:absolute;
      left: -11.3rem;
      bottom: -.4rem;
      width: 40rem;
      height: auto;
      margin: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}