@charset "UTF-8";
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul,
dl,
ol {
  list-style: none;
}

img,
fieldset,
input[type=submit] {
  border: 0 none;
}

em {
  font-style: normal;
}

strong {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type=button] {
  cursor: pointer;
  border: 0 none;
}

/* 去掉移动端点击有背景色 */
label {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

a,
button,
input,
img {
  -webkit-touch-callout: none;
}

img {
  pointer-events: none;
  /*禁止图片的点击事件，例如长按保存图片*/
}

input,
select,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

html,
body {
  /*禁止用户选择元素*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*禁止元素点击出现半透明黑色背景*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 针对移动端 */
html {
  height: 100%;
  width: 100%;
  font-family: "Heiti SC", "Microsoft YaHei", "sans-serif";
  font-size: 62.5%;
  line-height: 1.5;
  outline: 0;
  -webkit-text-size-adjust: none;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  position: relative;
}

header {
  padding: 0 17.9rem 4.2rem 17.2rem;
}
header ul.top_link {
  padding-top: 1.5rem;
  margin-bottom: 1.9rem;
  font-size: 12px;
}
header ul.top_link li {
  position: relative;
  line-height: 1;
  margin-right: 8px;
}
header ul.top_link li:not(:last-of-type):after {
  content: "";
  width: 0.1rem;
  height: 1.5rem;
  background: #b3b2b2;
  margin: 0 0.4rem;
  position: absolute;
  top: 0;
  right: -8px;
}
header ul.top_link li a {
  padding: 0;
  color: #b3b2b2;
}
header ul.top_link li a:hover {
  color: #f64f5b;
  text-decoration: underline;
}
header h1 {
  width: 24.9rem;
  min-height: 3.9rem;
  margin-right: 11.9rem;
}
header h1 a {
  display: block;
  width: 100%;
  height: 3.9rem;
  background: url("../assets/images/home/logo.png") no-repeat top center;
  background-size: contain;
  text-indent: -99999px;
}
header nav {
  min-height: 3.9rem;
}
header nav a.nav-item {
  color: #7a7878;
  font-size: 14px;
  position: relative;
  padding: 0 1rem;
}
header nav a.active {
  color: #f64f5b;
}
header nav a.active:after {
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  content: "";
  width: 100%;
  height: 0.4rem;
  background: #1abc9c;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  background: #38373d;
  color: #fff;
  padding-top: 6.1rem;
}
.footer .contect {
  margin-right: 2.1rem;
}
.footer .contect .list-unstyled li figure {
  width: 13.2rem;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 3rem;
}
.footer .contect .list-unstyled li figure img {
  width: 100%;
  margin-bottom: 0.9rem;
}
.footer .contect .list-unstyled li .media-body h5 {
  font-size: 1.6rem;
  margin-bottom: 2.4rem !important;
}
.footer .contect .list-unstyled li .media-body .media {
  font-size: 1.4rem;
}
.footer .contect .list-unstyled li .media-body .media i {
  font-size: 1.6rem;
  margin-right: 1.3rem;
}
.footer .feedback {
  width: 39.1rem;
}
.footer .feedback ::-webkit-input-placeholder {
  color: #fff;
}
.footer .feedback h5 {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 1.1rem;
}
.footer .feedback form {
  font-size: 1.4rem;
}
.footer .feedback form .form-group.name_wrap {
  width: 17rem;
  margin-right: 2.1rem;
}
.footer .feedback form .form-group.email_wrap {
  width: 20rem;
}
.footer .feedback form .form-group.title_wrap {
  width: 100%;
}
.footer .feedback form .form-group input {
  height: 4rem;
  color: #fff;
  background: #5d6d7e;
  border-radius: 5px;
}
.footer .feedback form .form-group.area_wrap {
  width: 100%;
  height: 14.4rem;
  border-radius: 5px;
  overflow-y: auto;
}
.footer .feedback form .form-group.area_wrap textarea {
  height: 100%;
  background: #5d6d7e;
  color: #fff;
  resize: none;
}
.footer .feedback form button {
  color: #fff;
  padding: 0.8rem 3.6rem;
  letter-spacing: 0.4rem;
}
.footer .copyright {
  width: 100%;
  background: #2c3e50;
  text-align: center;
  padding: 4.5rem 0 3.7rem;
  position: relative;
  margin-top: 5rem;
}
.footer .copyright:after {
  content: "";
  width: 0;
  height: 0;
  background: transparent;
  position: absolute;
  top: -1.4rem;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1.4rem solid #2c3e50;
  border-right: 1.8rem solid transparent;
  border-left: 1.8rem solid transparent;
}
.footer .copyright p {
  font-size: 1.2rem;
}
.footer .copyright p:first-child {
  font-size: 1.4rem;
}
.footer .copyright p:first-child span {
  margin-left: 2.4rem;
}

.page {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.page main {
  min-width: 128rem;
  background: url(../assets/images/list/bg.png) no-repeat 0 -11rem #ebecec;
  position: relative;
  padding-bottom: 11rem;
}
.page main .left_nav {
  width: 22.3rem;
  background: #f3f2f2;
  padding-top: 2.7rem;
  position: absolute;
  top: 5.9rem;
  left: 14.9rem;
}
.page main .left_nav .dropdown {
  font-size: 0;
  line-height: 4.2rem;
  padding-left: 1.8rem;
}
.page main .left_nav .dropdown.current {
  background: #58636d;
}
.page main .left_nav .dropdown.current a.btn {
  color: #fff;
}
.page main .left_nav .dropdown i {
  vertical-align: middle;
  margin-right: 0.8rem;
}
.page main .left_nav .dropdown a {
  color: #7c7979;
  font-size: 1.4rem;
  text-align: left;
  box-shadow: none;
  padding: 0;
}
.page main .left_nav .dropdown a:after {
  display: none;
}
.page main .left_nav .dropdown a .en {
  margin-left: 0.7rem;
}
.page main .left_nav .dropdown .dropdown-menu {
  width: 90%;
  padding: 1.8rem;
}
.page main .left_nav .dropdown .dropdown-menu a {
  border-bottom: 1px solid #7c7979;
}
.page main .left_nav .telN {
  color: #828181;
  padding-left: 3.9rem;
  padding-bottom: 1.4rem;
}
.page main .left_nav .telN i {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}
.page main .left_nav .telN p {
  font-size: 1.2rem;
  line-height: 1.35em;
}
.page main .left_nav .telN p:last-child {
  padding-left: 1.9rem;
}
.page main .lis_wrap {
  padding-top: 9.3rem;
  padding-left: 41.7rem;
}
.page main .lis_wrap h2 {
  display: flex;
  justify-content: space-between;
  width: 62.5rem;
  color: #fff;
  border-bottom: 0.2rem solid #fff;
  font-size: 2.6rem;
  padding-bottom: 0.4rem;
  margin-bottom: 4.6rem;
  transform: translateX(2rem);
}
.page main .lis_wrap h2 .vani {
  font-family: "Vani" !important;
  text-transform: uppercase;
}
.page main .lis_wrap .inductry_n_t {
  width: 68.1rem;
  background: #fff;
  padding: 1.7rem 1.7rem 3rem 1.4rem;
}
.page main .lis_wrap .inductry_n_t .page_nav {
  display: flex;
  justify-content: space-between;
  width: 60.2rem;
  color: #3f4142;
  border-bottom: 0.1rem solid #3f4142;
}
.page main .lis_wrap .inductry_n_t .page_nav ul li {
  float: left;
}
.page main .lis_wrap .inductry_n_t .page_nav ul li a {
  color: #3f4142;
}
.page main .lis_wrap .inductry_n_t .page_nav .time_w {
  font-size: 1.2rem;
  padding-bottom: 0.4rem;
}
.page main .lis_wrap .inductry_n_t .card {
  width: 100%;
  border: 0 none;
}
.page main .lis_wrap .inductry_n_t .card .card-body {
  padding: 3.2rem 0 0;
  text-align: center;
}
.page main .lis_wrap .inductry_n_t .card .card-body h5 {
  font-size: 1.6rem;
  color: #3f4142;
}
.page main .lis_wrap .inductry_n_t .card .card-body .card-img-top {
  width: 100%;
  height: 21rem;
  box-shadow: 0 0 0.5rem #aaa;
  margin-top: 1.7rem;
}
.page main .lis_wrap .inductry_n_t .card .card-body .card-text {
  font-size: 1.2rem;
  color: #5f5b5b;
  text-align: left;
  margin-top: 1.3rem;
}
.page main .lis_wrap .inductry_n_t nav {
  margin-top: 3.5rem;
}
.page main .lis_wrap .inductry_n_t nav .pagination .page-item:not(:last-of-type) {
  margin-right: 0.5rem;
}
.page main .lis_wrap .inductry_n_t nav .pagination .page-item a {
  border: 1px solid #d6d6d6;
  color: #000;
  font-size: 1rem;
  padding: 0.5rem 0.4rem;
}
.page main figure {
  position: absolute;
  left: -11.3rem;
  bottom: -0.4rem;
  width: 40rem;
  height: auto;
  margin: 0;
}
.page main figure img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=list.css.map */
