@charset 'utf-8';
// 公共的样式、方法，以及mixin命令代码
$gray1: #b3b2b2;
$gray2: #7a7878;
$red: #f64f5b;
$white: #fff;
$width: 128rem;
$height: 73.5rem;
$auto: 0 auto;
// 属性值
$inline_block: inline-block;

@function persent($n) {
  @return ($n/1280) * 100%;
}

// 伪对象代码
@mixin pseudo ($w:0, $h:0, $color:transparent) {
  content: '';
  width: $w;
  height: $h;
  background: $color;
}

// Header Start
header {
  // padding-left: 17.9rem;
  // padding-right: 17.2rem;
  padding: 0 17.9rem 4.2rem 17.2rem;

  // 友情链接
  ul.top_link {
    padding-top: 1.5rem;
    margin-bottom: 1.9rem;
    font-size: 12px;

    li {
      position: relative;
      line-height: 1;
      margin-right: 8px;

      &:not(:last-of-type) {
        &:after {
          @include pseudo(.1rem, 1.5rem, $gray1);
          margin: 0 .4rem;
          position: absolute;
          top: 0;
          right: -8px;
        }
      }

      a {
        padding: 0;
        color: $gray1;

        // :hover 伪类的交互
        &:hover {
          color: $red;
          text-decoration: underline;
        }
      }
    }
  }


  //logo 
  h1 {
    width: 24.9rem;
    min-height: 3.9rem;
    margin-right: 11.9rem;

    a {
      display: block;
      width: 100%;
      height: 3.9rem;
      background: url('../assets/images/home/logo.png') no-repeat top center;
      background-size: contain;
      text-indent: -99999px;
    }
  }

  // 菜单导航
  nav {
    min-height: 3.9rem;

    a.nav-item {
      color: $gray2;
      font-size: 14px;
      position: relative;
      padding: 0 1rem;
    }

    // 下滑线  用于告诉用户当前在什么页面
    a.active {
      color: $red;

      &:after {
        position: absolute;
        bottom: -.7rem;
        left: 0;
        @include pseudo(100%, .4rem, #1abc9c);
      }
    }
  }
}

// footer 
.footer {
  $footer_C: #2c3e50;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  background: #38373d;
  color: $white;
  padding-top: 6.1rem;

  // 联系
  .contect {
    margin-right: 2.1rem;

    .list-unstyled {
      li {
        figure {
          width: 13.2rem;
          text-align: center;
          font-size: 1.2rem;
          margin-right: 3rem;

          img {
            width: 100%;
            margin-bottom: .9rem;
          }
        }

        .media-body {
          h5 {
            font-size: 1.6rem;
            margin-bottom: 2.4rem !important;
          }

          .media {
            font-size: 1.4rem;

            i {
              font-size: 1.6rem;
              margin-right: 1.3rem;
            }
          }
        }
      }
    }
  }

  // 反馈
  .feedback {
    width: 39.1rem;

    ::-webkit-input-placeholder {
      color: $white;
    }

    h5 {
      color: $white;
      font-size: 1.6rem;
      margin-bottom: 1.1rem;
    }

    form {
      $bgc: #5d6d7e;
      font-size: 1.4rem;

      .form-group {
        &.name_wrap {
          width: 17rem;
          margin-right: 2.1rem;
        }

        &.email_wrap {
          width: 20rem;
        }

        &.title_wrap {
          width: 100%;
        }

        input {
          height: 4rem;
          color: $white;
          background: $bgc;
          border-radius: 5px;


        }


        &.area_wrap {
          width: 100%;
          height: 14.4rem;
          border-radius: 5px;
          overflow-y: auto;

          textarea {
            height: 100%;
            background: $bgc;
            color: $white;
            resize: none;
          }
        }
      }

      button {
        color: $white;
        padding: .8rem 3.6rem;
        letter-spacing: .4rem;
      }
    }
  }

  .copyright {
    width: 100%;
    background: $footer_C;

    text-align: center;
    padding: 4.5rem 0 3.7rem;
    position: relative;
    margin-top: 5rem;

    &:after {
      @include pseudo();
      position: absolute;
      top: -1.4rem;
      left: 50%;
      transform: translateX(-50%);

      border-bottom: 1.4rem solid $footer_C;
      border-right: 1.8rem solid transparent;
      border-left: 1.8rem solid transparent;
    }

    p {
      font-size: 1.2rem;

      &:first-child {
        font-size: 1.4rem;

        span {
          margin-left: 2.4rem;
        }
      }
    }
  }
}